header[role="banner"] {
  background-color: black;
  color: white;
  display: flex;
  padding: 0;
  top: 0;
  position: sticky;
  z-index: 9999999;
}

header[role="banner"] input,
header[role="banner"] button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 2rem;
}

header[role="banner"] input {
  width: 100%;
}

header[role="banner"] input:focus {
  outline: none;
}

.app {
  display: flex;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "dungeons dungeons dungeons"
    "inventory map map"
    "inventory map map"
    "store store store";
}

.dungeons {
  display: flex;
  grid-area: dungeons;
  text-align: center;
}

.inventory {
  grid-area: inventory;
}

.map {
  grid-area: map;
}

.store {
  grid-area: store;
}
